body{
    text-align: center;
    margin-top: 100px;
}


#signup{
    width: 350px;
    height: 530px;
    background-color: lightblue;
    margin-bottom: 150px;
    text-align: center;
    border-radius: 10px;
}

h1{
    font: inter;
}